
body {
	font-family: Roboto, sans-serif;
	background: url(img/bg.jpg) ;

}

img {
	width: 90px;
	filter: invert(51%) sepia(99%) saturate(326%) hue-rotate(56deg) brightness(95%) contrast(89%);
}


body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.feauture {
	animation: 2s move;
	position: relative;
	color: #6b6b6b;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 370px;
	height: 320px;
	margin: 20px;
	align-items: center;
	border-radius: 15px 15px 15px 40%;
	border-bottom-left-radius: 35% 80%; 
	padding: 40px;
	margin-top: 100px;
	font-size: 21px;
	text-align: center;
	opacity: 0.9;
}

.feautures-wrapper {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1230px;
	width: 100%;
	justify-content: space-around;
}

.feauture-section {
	display: flex;
}

.feauture>* {
	position: relative;
}
.circle {
	width: 140px;
	height: 140px;
	border-radius: 100%;
	margin-top: -110px;
	display: flex;
	background-color: white;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.feauture h3 {
	font-size: 32px;
	margin-bottom: 40px;
}

h2 {
	margin-left: 20%;
	color: white;
	font-size: 60px;

}

.feauture::before {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
 	left: 0;
 	background-color: white;
	width: 100%;
 	height: 100%;
	background: white;
	opacity: 0.9;
 	border-radius: 15px ;
}

@keyframes move {
	from {
    	opacity: 0.1;
    	margin-top: 300px;
  }
	to {
    	opacity: 0.9;
    	margin-top: 100px;
	}
}


