body {
	margin: 0px;
	padding: 0;
	display: flex;
	flex-direction: column;
}
li{
	list-style: none;
}

body *{
	margin: 0px;
	padding: 0;
}
nav{
	display: flex;
}
.menu {
	display: flex;
	margin: auto;
	display: flex;
	width: 100%;
	justify-content: center;
}

.menu-item{
	display: flex;
	flex-direction: column;
	width: 150px;
}

a {
	height: 30px;
	display: flex;
	width: 100%;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-size: 20px;
	background-color: red;
	transition-duration: 0.5s;
	text-decoration: none;
}

a:hover {
	background-color: green;
	font-weight: bolder;
}

.submenu{
	display: none;
	flex-direction: column;
	position: absolute;
	top:30px;
	width: 150px;
}

.submenu>li {
	background-color: yellow;
	text-align: center;

}

.submenu>li:hover {
	opacity: 0.5;
}

.menu-item:hover>.submenu {
	display: flex;
}
.menu-item:active>.submenu {
	display: none;
}
